.App {
	justify-content: center;
	margin: auto;
}

.input-form {
	display: flex;
	justify-content: center;
}

.column {
	flex: 1;
	padding: 20px;
}

.greeting {
	padding: 20px;
}

.happiness-slider {
	padding: 20px;
	padding-bottom: 0px;
	width: 50%;
}

.face-icons {
	display: flex;
	width: fit;
}

.face-icon {
	font-size: 15px;
	flex: 1;
}

#submit-button {
	text-align: center;
}

#sad-face {
	float: left;
}

#happy-face {
	text-align: end;
}

.btn-custom {
	background-color: #818196 !important;
	border: none !important;
}
