.App {
	justify-content: center;
	margin: auto;
}

.input-form {
	display: flex;
	justify-content: center;
}

.column {
	flex: 1;
	padding: 20px;
}

.greeting {
	padding: 20px;
}

.happiness-slider {
	padding: 20px;
	padding-bottom: 0px;
	width: 50%;
}

.face-icons {
	display: flex;
	width: fit;
}

.face-icon {
	font-size: 15px;
	flex: 1;
}

#submit-button {
	text-align: center;
}

#sad-face {
	float: left;
}

#happy-face {
	text-align: end;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.App {
		max-width: 90%;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.App {
		max-width: 90%;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.App {
		max-width: 75%;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.App {
		max-width: 900px;
	}
}
