
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.App {
		max-width: 90%;
	}
	.login-field {
		flex-wrap: wrap;
	}
	.omittable-text {
		display: none;
	}
	.login-columns {
		flex-direction: column;
	}
	.login-visual {
		max-width: 300px;
		display: block;
	}
	.login-graphic {
		max-width: 100%;
	}
	.login-box {
		margin-top: 30px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.App {
		max-width: 90%;
	}
	.login-field {
		flex-wrap: wrap;
	}
	.omittable-text {
		display: block;
	}
	.login-columns {
		flex-direction: column;
	}
	.login-visual {
		max-width: 300px;
		display: block;
	}
	.login-graphic {
		max-width: 100%;
	}
	.login-box {
		margin-top: 30px;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.App {
		max-width: 75%;
	}
	.login-field {
		flex-wrap: wrap;
	}
	.omittable-text {
		display: block;
	}
	.login-columns {
		flex-direction: column;
	}
	.login-visual {
		max-width: 1000px;
		display: flex;
	}
	.quote {
		margin: auto;
		justify-content: center;
		padding-left: 5%;
		padding-right: 5%;
	}
	.login-graphic {
		max-width: 300px;
	}
	.login-box {
		margin-top: 0px;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.App {
		max-width: 75%;
	}
	.login-field {
		flex-wrap: wrap;
	}
	.omittable-text {
		display: none;
	}
	.login-columns {
		flex-direction: row;
	}
	.login-visual {
		max-width: 100%;
		display: block;
	}
	.login-graphic {
		max-width: 100%;
	}
	.login-box {
		margin-top: 30px;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.App {
		max-width: 900px;
	}
	.login-field {
		flex-wrap: nowrap;
	}
	.omittable-text {
		display: block;
	}
	.login-columns {
		flex-direction: row;
	}
	.login-visual {
		max-width: 100%;
		display: block;
	}
	.login-graphic {
		max-width: 100%;
	}
	.login-box {
		margin-top: 30px;
	}
}
